@import '../../SassStyles/main';


.cv-container {
  display: flex;
  gap: 60px; 
  @include mobile-responsive {
    flex-direction: column; /* Stack items vertically on small screens */
    gap: 20px; /* Reduce gap on mobile */
  }
  }
  
  .cv-image {
    width: 400px;
    border: 1px solid #ccc;
    opacity: 0.5; 
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
      &:hover {
        opacity: 1; 
      }
     
  }

  

  .icon-button {
    width: 60px;
    margin: 30px;
    color: $primary-color;
    cursor: pointer;
    
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items:  end;

        &__text {
        color: $primary-color;
        background-color: $third-color;
        border-radius: 20px;
        padding: 30px;
        font-size: 18px;
        @include mobile-responsive {
          font-size: 14px;          
        } 
        a {
          text-decoration: none; /* Enlève le soulignement du lien */
          color: inherit; /* Hérite de la couleur du texte parent (ici, celle définie pour .intro__text) */
        }
        }

        &__quotes {
        width: 150px; 
        opacity: (0.6);
        @include mobile-responsive {
          width: 100px;          
        }  
        }

}
  
  .contact-icons {
    display: flex;
    justify-content: center;
  }

