@import '../../SassStyles/main';

.cv-container {
  position: relative;
  display: flex;
    text-align: left;
    margin: 60px 0 0 60px;
  }
  
  .cv-image {
    width: 400px;
    object-fit:cover;  // Ensures the image fills the container properly
    border: 1px solid #ccc;
    margin: 0 auto;
    opacity: 0.5; 
    transition: opacity 0.3s ease-in-out;
    
    cursor: pointer;
    &:hover {
      opacity: 1; 
    }
  }

  .download-button {
    position: absolute;
    left: 15%;
    top: 40%;
    width: 60px;
    color: $primary-color;
    cursor: pointer;

  }

  .text-icons {
    display: flex;
  }

  .quotes {
    width: 200px; 
    margin-left: 260px;
  }
  

  .icon-button {
    width: 60px;
    margin: 30px;
    color: $primary-color;
    cursor: pointer;
    
  }

  .intro-text {
    color: white;
    background: linear-gradient(to top, rgba(135, 12, 102, 0.6), rgba(0, 0, 0, 0.3));
    border-radius: 20px;
    padding: 30px;
    font-size: 18px;
    margin: 0 0 0 60px;
  }
  

