@import '../../SassStyles/main';

.header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 60px 0 80px;
    @include mobile-responsive {
      padding: 0 20px 0 20px;
   }

    .nav {
            display: flex;
            list-style: none;
            

            &__item {
                color: $primary-color;
                text-decoration: none;
                font-size: 20px;
                padding: 30px 60px 30px 60px;
                @include tablet-responsive {
                  font-size: 16px;
                  padding: 20px 20px 20px 20px;
                  text-transform: uppercase;
               }
                @include mobile-responsive {
                   font-size: 14px;
                   padding: 20px 20px 20px 20px;
                   text-transform: uppercase;
                }
             }
             &__item.active:hover {
                filter: brightness(0.9);
             }
             &__item.active {
                background-color: $third-color;
                
                border-radius: 10px;
             }
    }
    &__logo {
      width: 150px;
      @include mobile-responsive {
         width: 120px;
      }
  }
    
}

