@import '../../SassStyles/main';

  .rental-page {
    width: 100%;
    margin: auto;
  }
  
  .rental-info-container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
  }
  @media all and (max-width: 768px) {
    .rental-info-container {
      display: flex;
      flex-direction: column;
      margin: 15px auto;
    }
  }
  
  .rental-info__title {
    margin: 0;
    font-size: 36px;
    font-weight: 500;
  }
  @media all and (max-width: 768px) {
    .rental-info__title {
      font-size: 18px;
    }
  }
  .rental-info__location {
    font-size: 18px;
    margin: 10px 0px;
    font-weight: map-get($font-weight, regular);
  }
  @media all and (max-width: 768px) {
    .rental-info__location {
      font-size: 14px;
    }
  }
  
  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    margin: 20px 0;
    @include mobile-responsive {
        margin: 15px 0;
    }
    &__text {
        display: flex;
        align-items: center;
        border-radius: $border-radius-m;
        background-color: $primary-color;
        height: 25px;
        color: white;
        font-size: 14px;
        text-align: center;
        font-weight: map-get($font-weight, bold);
        padding: 15px 25px;
        @include mobile-responsive {
            height: 18px;
            font-size: 10px;
        }
    }
}

  .renter-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  @media all and (max-width: 768px) {
    .renter-info {
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  
  .renter-info__identity {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
        &__name {
            width: 100px;
            text-align: right;
            font-size: 18px;
            margin: 0;
            @include mobile-responsive {
            font-size: 12px;
            }
        }
        &__pic {
            height: 64px;
            width: 64px;
            border-radius: 90px;
            @include mobile-responsive {
                height: 32px;
                width: 32px;
            }
        }
  }

  .rating-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    &__stars {
        width: 30px;
        height: 30px;
        @include mobile-responsive {
            width: 18px;
            height: 18px;
        }
    }
}
  
.rental-collapse-container {
  display: flex;
  justify-content: space-between;
  @include mobile-responsive {
    flex-direction: column;
  }
  @include tablet-responsive {
    flex-direction: column;
}
  
.collapse-rental {
  width: 45%;
}
}