@import '../../SassStyles/main';

  .rental-page {
    width: 100%;
    margin: auto;
  }
  
  .rental-info-container {
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
      @include mobile-responsive {  
          display: flex;
          flex-direction: column;
          margin: 15px auto;
      }
  }
  
  .rental-info {
      &__title {
        margin: 0;
        font-size: 36px;
        font-weight: 500;
        @include mobile-responsive { 
            font-size: 18px;
          }
        }
      &__location {
        font-size: 18px;
        margin: 10px 0px;
        font-weight: map-get($font-weight, regular);
          @include mobile-responsive {
              font-size: 14px;
          }
      }
      &__link a {
        text-decoration: none;
        color: $primary-color;
        border: 1px solid $primary-color;
        padding: 20px;
        font-size: 20px;
        font-weight: map-get($font-weight, regular);
          @include mobile-responsive {
              font-size: 14px;
          }
      }
  }
  
  .tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0px;
    margin: 20px 0;
    @include mobile-responsive {
        margin: 15px 0;
    }
    &__text {
        display: flex;
        align-items: center;
        border-radius: $border-radius-m;
        background-color: $primary-color;
        height: 25px;
        color: white;
        font-size: 14px;
        text-align: center;
        font-weight: map-get($font-weight, bold);
        padding: 15px 25px;
        @include mobile-responsive {
            height: 18px;
            font-size: 10px;
        }
    }
}

  .host-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
  
      @include mobile-responsive {
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          flex-wrap: wrap;
      }
    }

  
  .host-info__identity {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 60px;
        &__name {
            width: 100px;
            text-align: right;
            font-size: 18px;
            margin: 0;
            @include mobile-responsive {
            font-size: 12px;
            }
        }
        &__pic {
            height: 64px;
            width: 64px;
            border-radius: 90px;
            @include mobile-responsive {
                height: 32px;
                width: 32px;
            }
        }
        
  }

  .level {
    font-size: 18px;
    text-align: end;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 0;
  }

  .rating-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    &__stars {
        width: 30px;
        height: 30px;
        @include mobile-responsive {
            width: 18px;
            height: 18px;
        }
    }
}
  
  
.collapse-rental-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include mobile-responsive {
    flex-wrap: wrap;
  }
  @include tablet-responsive {
    flex-wrap: wrap;
  }
    .collapse-rental {
      width: 45%;
        @include mobile-responsive {
          width: 100%;
        }
        .collapse__title-container {
          width: 100%;
          height: 47px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include mobile-responsive {
              margin-top: 20px;
          }
          &:hover {
              background-color: lighten($primary-color, 8%);
          }

      }
      .collapse__text {
          font-weight: map-get($font-weight, light);
          background-color: $background-color;
          border-radius: $border-radius-s;
          @include mobile-responsive {
              width: 100%;
              font-size: 12px;           
          }
      }
    }
  }