@import '../../SassStyles/main';

.collapse-apropos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .collapse__title-container {
        width: 80%;
        height: 47px;
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile-responsive {
            width: 100%;
        }
        &:hover {
            background-color: lighten($primary-color, 8%);
        }

    }
    .collapse__text {
        width: 80%;
    }
}
