
@mixin text-shadow{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

// Mediaqueries
@mixin mobile-responsive {
    @media all and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-responsive {
    @media all and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

// Typo 
@mixin main-typography {
	font-family: 'Montserrat', sans-serif;
	font-size: map-get($font-size, text);
	@include mobile-responsive {
		font-size: map-get($font-size, mobile-text);
	}
}

@mixin title-typography {
	font-family: 'Montserrat', sans-serif;
}





