@import '../../SassStyles/main';

.collapse {
    border-radius: $border-radius-s;
    &__title-container {
        padding-inline: 20px;
        background-color: $primary-color;
        border: none;
        transition: background-color 200ms ease-in-out;
        border-radius: $border-radius-s;
        &:hover {
            background-color: lighten($primary-color, 8%);
        }
        &__title {
            color: white;
            font-size: 24px;
            font-weight: map-get($font-weight, bold);
            @include mobile-responsive {
                font-size: 16px;
            }
        }

    }
    &__text {
        padding: 10px;
        font-size: 18px;
        font-weight: map-get($font-weight, light);
        background-color: $background-color;
        border-radius: $border-radius-s;
        @include mobile-responsive {
            font-size: 14px;           
        }
    }
}

.expand_arrow {
    color: white;
	width: 20px;
    transition: transform ease-in-out;
    @include mobile-responsive {
    width: 18px;         
    }  
		&--opened {
		transform:rotate(-180deg);      
		transition: transform ease-in-out;      
		}
}