@import '../../SassStyles/main';

.header {
    display: flex;
    justify-content: space-between;
    color: black;

    .nav {
            display: flex;
            list-style: none;

            &__item {
                color: black;
                text-decoration: none;
                font-size: 24px;
                padding: 0 0 0 60px;
                @include mobile-responsive {
                   font-size: 17px;
                   padding: 0 0 0 15px;
                   text-transform: uppercase;
                }
             }
             &__item.active:hover {
                filter: brightness(0.9);
             }
             &__item.active {
                text-decoration: underline;
             }
    }
   .logoKasa {
      @include mobile-responsive {
         width: 120px;
      }
   }
    
}

