@import '../../SassStyles/main';

.banner {
    position: relative;
    height: 223px;
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    overflow: hidden;
    &::before{
        position: absolute;
        right: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        display: block;
        z-index: 0;
        content:"";
        background-color: black;
        opacity: 30%;
    }
    &__img {
        width: 100%;
        height: 100%; 
        object-fit: cover;
    }
    &__title {
        position: absolute;
        color: white;
        font-size: 48px;  
        font-weight: map-get($font-weight, bold);
        @include mobile-responsive {
            font-size: 34px;
          }
    }
}